.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    // Хедер фиксирован вверху
    & > [name="header"] {
        flex: 0 0 auto;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    // Основной контент ниже хедера
    & > router-outlet:not([name="header"]) {
        flex: 1 1 auto;
        //padding-top: 64px; // Учитывает высоту фиксированного хедера
        overflow-y: auto;
    }
}
