<h1 class="content-header">Pull Requests</h1>
<div class="repositories-container">
    @for (pullRequest of pullRequests; track pullRequest.id) {
        <mat-card class="repository-card" [ngClass]="{ 'repository-configured' : false }" appearance="outlined">
            <mat-card-content>
                <div class="card-content">
                    <div class="card-header">
                        <span>Repository: <b>{{ pullRequest.repository?.name }}</b></span>
                        <span>PR Number: <b>{{ pullRequest.number }}</b></span>
                    </div>
                    {{ pullRequest.name }}
                </div>
            </mat-card-content>
        </mat-card>
    }
</div>
