html,
body {
    height: 100%;
}
body {
    margin: 0;
}

.review-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.code-analysis-content .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
}

.code-analysis-content .mat-content {
    min-height: 50px;
}
