<h1 class="content-header">Code Analysis</h1>
<div class="code-analysis-container">
    <form class="selections">
        <mat-form-field>
            <mat-label>Repository</mat-label>
            <mat-select (selectionChange)="selectedRepository.set($event.value)">
                @for (repository of repositories; track repository.id) {
                  <mat-option [value]="repository">{{repository.name}}</mat-option>
                }
              </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Pull Request</mat-label>
            <mat-select (selectionChange)="selectedPullRequest.set($event.value)">
                @for (pr of pullRequests; track pr.number) {
                  <mat-option [value]="pr">{{pr.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>
    <div class="code-analysis" *ngIf="selectedRepository() && selectedPullRequest()">
        <h4><b>Pull Request {{ selectedPullRequest().number }}</b>: <i>{{ selectedPullRequest().name }}</i></h4>
        <mat-accordion class="code-analysis-content" multi>
            @for (recommendation of recommendations; track recommendation.id) {
                <mat-expansion-panel [disabled]="recommendation.status === 1" (opened)="onRecommendationOpened(recommendation.id)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{ recommendation.fileName }}</mat-panel-title>
                        <mat-panel-description>
                            <app-review-status class="review-status" [singleRecommendation]="recommendation" ></app-review-status>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="card">
                        <div class="card-title">{{ recommendation.content }}</div>
                        <pre class="card-code">
                            <code
                                [highlightAuto]="getFileContentFromFileContents(recommendation.repositoryId, recommendation.fileName) | async"
                                lineNumbers >
                            </code>
                        </pre>
                        <button mat-raised-button (click)="onRecommendationResolved(recommendation)">Resolve</button>
                    </div>
                    <h4 class="comments-title">Comments</h4>
                    <mat-divider></mat-divider>
                    @if (commentsForRecommendation[recommendation.id]?.length === 0) {
                        <h3 class="no-comments">There is no comments yet</h3>
                    } @else {
                        <div class="comments">
                            @for (comment of commentsForRecommendation[recommendation.id]; track comment.id) {
                                @if (comment.isFromUser) {
                                    <img class="user-avatar" [src]="currentUser.avatarUrl" >
                                } @else {
                                    <mat-icon class="system-avatar">smart_toy</mat-icon>
                                }
                                <div class="comment"
                                    [ngClass]="{ 'user-comment': comment.isFromUser, 'system-comment': !comment.isFromUser }">
                                    {{ comment.text }}
                                </div>
                            }
                        </div>
                    }
                    <form (submit)="$event.preventDefault(); onCommentSubmitButtonClick(recommendation.id)" class="comments-form">
                        <mat-form-field>
                            <mat-label>Leave a comment</mat-label>
                            <textarea (input)="onCommentInputChanged($event, recommendation.id)" matInput></textarea>
                        </mat-form-field>
                        <button [disabled]="!userComments[recommendation.id]" mat-raised-button>Submit</button>
                    </form>
                </mat-expansion-panel>
            }
        </mat-accordion>
    </div>
</div>


