.sidenav-container {
    height: 93vh;
}
.sidenav {
    width: 200px;
}
.sidenav-content {
    background-color: #f2ecf4;
    border-radius: 16px;
}
.sidenav-content-header {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 30px;
}
